# Игнорировать файлы macOS
**.DS_Store

# Папки с кастомными конфигами
zbx_env/
zbx_env*/

# Секретные сертификаты
.*CERT_FILE
.*KEY_FILE
.*CA_FILE

# Docker secrets (Red Hat)
Dockerfiles/*/rhel/secrets/*

# Исходники 
sources/*

# Игнорировать конкретные файлы с секретами PostgreSQL и MySQL
env_vars/.POSTGRES_PASSWORD
env_vars/.POSTGRES_USER
env_vars/.MYSQL_PASSWORD
env_vars/.MYSQL_ROOT_PASSWORD
env_vars/.MYSQL_ROOT_USER
env_vars/.MYSQL_USER
env_vars/.POSTGRES_PASSWORD
env_vars/.POSTGRES_USER
