# Игнорировать файлы macOS
**.DS_Store

# Папки с кастомными конфигами
zbx_env/
zbx_env*/

# Секретные сертификаты
.*CERT_FILE
.*KEY_FILE
.*CA_FILE

# Docker secrets (Red Hat)
Dockerfiles/*/rhel/secrets/*

# Исходники 
sources/*

# Игнорировать файлы с секретами PostgreSQL и MySQL
env_vars/*POSTGRES*
env_vars/*MYSQL*

